{
	"AppId": "puc.mobile.mde",
	"DestinationName": "com.sap.edm.sampleservice.v2",
	"OfflineEnabled": false,
	"ServiceUrl": "/destinations/mobileservices_cf"
}